/* Menu */
header {
  background: #0ED9BB;
  display: flex;
  
  position: fixed; /* Set the navbar to fixed position */
  top: -110px; /* Position the navbar at the top of the page */
  left:0;
  z-index: 2;
  width: 100%; 
}   

.container {
  position: relative;
  max-width: 940px;
  margin: 0 auto;

  background-attachment: fixed;
}

.container nav {
  position: absolute;
  top: 40%;
  right: 0;
}

.container nav ul {
  display: flex;
  justify-content:center;
}

.container nav li {
  display: inline;
  margin: 0 0 0 1rem;
  padding: 0.3rem;
  font-family: 'Architects Daughter', cursive;
}
.container nav a {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: none;
  transition: color, 0.5s;
}
.container nav a:hover {
  color: #000000;
}

#logo {
  width: 22%;
  height: 22%;
  border-radius: 50%;
}

@media (max-width: 480px) {
  header, .container {
    width: 100%;
    top:0;
    padding-bottom: 1.5%;
  }

  .container {
    display:block;
    justify-content: center;
  }

  .container h1 {
    text-align: center;
  }

  #logo {
    width: 40%;
    height: auto;
  }

  .container nav {
    position: static;
    margin:  0 auto;
    justify-content: center;
  }

  .container nav ul {
    display: block;
    justify-content: center;
    padding-inline-start: none;
    text-align: center;
  }
  
  .container nav li {
    margin: 1rem auto;
  }
  
  .container nav a {
    font-size: 1.2rem;
    padding:0 0.7rem;
  }
}

@media (max-width: 940px) {
  header, .container {
    width: 100%;
  }
  
  nav {
    margin:0 1rem;
    
  }

  .main {
    position: relative;
  
    height: 80vh;
  
    box-sizing: border-box;
    margin: 0 auto;
    padding: 30px;
  }
  
  .main-container {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  
    max-width: 800px;
   
    align-items: center;
    align-content: center;
  
    margin: 0rem auto;
    padding: 2rem 2rem;
    box-sizing:border-box;
  
    float: center;
  }
  
  .main-title {
    text-align: center;
  
    font-size: 2.25rem;
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
  
    box-sizing: border-box;
    margin: 1rem 0 0 1rem;
    padding-bottom: 3rem;
  
    clear: left;
  }
  
  .imgAbout {
    width: 9.375rem;
    float: left;
    box-sizing:border-box;
  
    margin: 0 1.25rem 1.25rem 0;
    
    border-radius:50%;
  }
  
  p {
    margin: 0 0 0 1rem;
    padding: 10px;
    box-sizing:border-box;
  
    text-align: center;
    font-size: 1.5rem;
  }
}