@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page */
body{
  background: #d0faf4;
  font-family: 'Caveat', cursive;
  /* width: 100vw; */
}

html, body {
  height: 100%;
}

main {
  margin: 0 auto;
}

.banner {
  /* The image used */
  background-image: url("../../../assets/banner/banner_01.png");
  /* z-index: 3; */

  /* Set a specific height */
  width: 100%;
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment:fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;

  /* margin-top: 100px; */
  justify-content: center;
}

.banner h1 {
  text-align: center;
  margin: 24rem 1rem;
  padding-bottom: 2rem;

  font-family: 'Architects Daughter', cursive;
  font-size: 6rem;
  font-weight:bold;
  color: black;
}

.main {
  position: relative;

  /* background: linear-gradient(#d0faf4,#0ED9BB); */

  height: 70vh;

  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
}

.main-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 992px;
 
  /* box-shadow: 0 0 5px black;; */
 
  align-items: center;
  align-content: center;

  margin: 0rem auto;
  padding: 2rem 2rem;

  float: center;
}

.main-title {
  text-align: center;

  font-size: 2.25rem;
  font-weight: bold;
  font-family: 'Architects Daughter', cursive;

  box-sizing: border-box;
  margin: 1rem 0 0 1rem;
  padding-bottom: 3rem;

  clear: left;
}

.imgAbout {
  width: 9.375rem;
  float: left;

  margin: 0 1.25rem 1.25rem 0;
  
  border-radius:50%;
}

p {
  margin: 0 0 0 1rem;
  padding: 20px;

  text-align: center;
  font-size: 1.5rem;
}

.main strong {
  font-weight: bold;
}
.main p em strong {
  color: #FF0000;
}

#mission {
  font-size:20px;
}

/* parallax 2 */
.parallax {
  /* The image used */
  background-image: url("../../../assets/banner/banner_02.png");
}

/* parallax 3 */
.parallax2 {
  /* The image used */
  background-image: url("../../../assets/banner/banner_03.png");
}

.parallax, .parallax2 {
  /* Set a specific height */
  width: 100%;
  height: 60vh;

  padding: 0;
  margin: 0;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/* Mapa */
.map {
  padding: 3em 0;
  background: linear-gradient(#d0faf4, black);
}

.map-container {
  max-width: 992px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.map p {
  margin: 0 0 2em;
  text-align: center;
}

/* Benefits */
.benefits {
  /* background: #ceffb2; */

  width: 100%;
  height: 100%;
  max-width: 992px;

  box-sizing: border-box;
  margin: 3rem  auto;
  padding: 10px;
}

.itens {
  width: 940px;
  margin: 0 auto;
  padding: 4rem 0;
}
.itens li {
  display: inline-block;
  text-align: center;
  width: 30%;
  height: 80%;
  vertical-align: top;
  padding: 1.25rem 1.25rem;
  margin: 0 1.5%;
  padding: 3.2rem 1.5rem;
  box-sizing: border-box; /* Make the width be absolute and the padding be inside it */
  border: 2px solid #000000;
  border-radius: 5%;
  transition: 0.5s;
}
.itens li:hover {
  border-color: #20D1B5;
  background:#0ED9BB;
  box-shadow:10px 10px 5px #000;
}
.itens li:hover h2 {
  font-size: 3rem;
  color: #ffffff;
}
.itens li:active {
  border-color: #80F6FF ;
}
.itens a {
  text-decoration: none;
  color: black;
  display: block;
}
.itens h2 {
  font-size: 2rem;
  font-weight: bold;
}
.itens img {
  padding: 1.25rem;
  height: 5rem;
  margin: 1rem auto;
}

.itens-description {
  font-size: 1.5rem;
}
/* 
.benefits > ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 5%;
  font-size:1.5rem;
}

.itens {
  font-style: italic;
  padding: 0.25rem;
  margin: 20px;
}

.img-benefits {
  width: 50%;
} */