@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page */
body{
  background: #d0faf4;
  font-family: 'Caveat', cursive;
  /* width: 100vw; */
}

html, body {
  height: 100%;
}

main {
  margin: 0 auto;
}

.banner {
  /* The image used */
  background-image: url("../../../assets/banner/banner_01.png");
  /* z-index: 3; */

  /* Set a specific height */
  width: 100%;
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment:fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;

  /* margin-top: 100px; */
  justify-content: center;
}

.banner h1 {
  text-align: center;
  margin: 24rem 1rem;
  padding-bottom: 2rem;

  font-family: 'Architects Daughter', cursive;
  font-size: 6rem;
  font-weight:bold;
  color: black;
}
 /* PROFILE */
.main {
  position: relative;

  height: 100vh;

  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 992px;
 
  /* box-shadow: 0 0 5px black;; */
 
  align-items: center;
  align-content: center;

  margin: 0rem auto;
  padding: 2rem 2rem;

  float: center;
}

.main-title {
  text-align: center;

  font-size: 2.25rem;
  font-weight: bold;
  font-family: 'Architects Daughter', cursive;

  box-sizing: border-box;
  margin: 1rem 0 0 1rem;
  padding-bottom: 3rem;

  clear: left;
}

.imgAbout {
  width: 9.375rem;
  float: left;

  margin: 0 1.25rem 1.25rem 0;
  
  border-radius:50%;
}

p {
  margin: 0 0 0 1rem;
  padding: 20px;

  text-align: center;
  font-size: 1.5rem;
}

.main strong {
  font-weight: bold;
}
.main p em strong {
  color: #FF0000;
}

#mission {
  font-size:20px;
}

/* parallax 2 */
.parallax {
  /* The image used */
  background-image: url("../../../assets/banner/banner_02.png");
}

/* parallax 3 */
.parallax2 {
  /* The image used */
  background-image: url("../../../assets/banner/banner_03.png");
}

.parallax, .parallax2 {
  /* Set a specific height */
  width: 100%;
  height: 60vh;

  padding: 0;
  margin: 0;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* Benefits */
.benefits {
  width: 100%;
  height: 100%;
  max-width: 992px;

  box-sizing: border-box;
  margin: 3rem  auto;
  padding: 10px;
}

.itens {
  width: 940px;
  margin: 0 auto;
  padding: 4rem 0;
}
.itens li {
  display: inline-block;
  text-align: center;
  width: 30%;
  height: 80%;
  vertical-align: top;
  padding: 1.25rem 1.25rem;
  margin: 0 1.5%;
  padding: 3.2rem 1.5rem;
  box-sizing: border-box; /* Make the width be absolute and the padding be inside it */
  border: 2px solid #000000;
  border-radius: 5%;
  transition: 0.5s;
}
.itens li:hover {
  border-color: #20D1B5;
  background:#0ED9BB;
  box-shadow:10px 10px 5px #000;
}
.itens li:hover h2 {
  font-size: 3rem;
  color: #ffffff;
}
.itens li:active {
  border-color: #80F6FF ;
}
.itens a {
  text-decoration: none;
  color: black;
  display: block;
}
.itens h2 {
  font-size: 2rem;
  font-weight: bold;
}
.itens img {
  padding: 1.25rem;
  height: 5rem;
  margin: 1rem auto;
}

.itens-description {
  font-size: 1.5rem;
}

/* Mapa */
.map {
  padding: 3em 0;
  margin: 0 auto;
  height: 80vh;
  background: linear-gradient(#d0faf4, black);
}

.map-container {
  max-width: 992px;
  margin: 0 auto;
  text-align: center;
  height: 80%;
  padding-bottom: 3rem;
}

.map p {
  margin: 0 0 2em;
  text-align: center;
}

/* FORM CONTACT */
.contact-container {
  width: 100%;
  height: 100%;
  max-width: 992px;
  box-sizing: border-box;
  margin: 3rem auto;
  padding: 10px;
}

.contact {
  /* width: 800px; */
  margin: 2rem;
  padding: 4rem;
}

form {
  width: 80%;
  margin: 0 auto;
}

form label, form legend {
  display: block; /* The element occupies all the width */
  font-size: 1.25rem;
  margin: 0.625rem 0 0.625rem;
}

form input {
  padding: 1rem;
}

.input-default {
  width: -webkit-fill-available;
  display: block;

  margin: 0 0 1.25rem;
  padding: 0.625rem 1.5625rem; 
}

form fieldset {
  margin: 1rem 0;
}
.checkboxForm {
  margin: 1.25rem 0.5rem;
}

.inputContactSubmit {
  width:40%;
  padding: 0.9375rem 0;
  background: #0ED9BB;
  
  color:white;
  font-size:1.125rem;
  font-weight:bold;

  border:none;
  border-radius: 5%;

  cursor: pointer;

  transition:1s;
}

.inputContactSubmit:hover {
  background: white;
  color: #0ED9BB;
  border: solid 2px #0ED9BB;

  transform: scale(1.2);
}

@media (max-width: 1300px) {
  html, body, main, .banner, .main, .main-container, .parallax, .parallax2, .map-container, .benefits, .itens, .itens li{
    width: auto;
  }

  .main {
    height: auto;
  }

  .banner h1 {
    font-size: 5rem;
  }

  /* PROFILE */
   .main {
    text-align: center;
    margin: 20px;
    padding: 20px;
  }

  .main-container {
    position: relative;
    top: auto;
    left: auto;
    transform: none;

    padding: 1rem;

    max-width: 800px;
  }

  .main-title {
    font-size: 1.7rem;
  }

  .imgAbout {
    width:20%;
    margin: 15px;
  }

  .main-container p {
    font-size: 1.5rem;
    /* text-align: left; */
  }

  /* PARALLAX */
  .parallax, .parallax2 {
    height:100vh;
  }

  /* SECÇÕES */
   .benefits {
    padding: 0px;
  }

  #benefits-title {
    padding-bottom: 1rem;
    font-size: 2rem;
  }

  .itens {
    margin: 0 2rem;
    box-sizing: border-box;
  }

  .itens li {
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 80%;
    vertical-align: top;
    padding: 1.25rem 1.25rem;
    margin: 0 1.5%;
    padding: 3.2rem 1.5rem;
    box-sizing: border-box; /* Make the width be absolute and the padding be inside it */
    border: 2px solid #000000;
    border-radius: 5%;
    transition: 0.5s;
  }

  p {
    font-size: 1rem;
    padding: 10px;
    margin: 0;
    padding-bottom: 20px;
  }

  h3 {
    font-size:1.5rem;
    font-weight: bold;
    padding: 1rem;
  }

  .itens img {
    width:25%;
    height:auto;

    padding: 1rem;
    margin: 0 auto;
  }

  .itens-description {
    font-size: 1.2rem;
  }

  /* MAPA */
  .map {
    padding: 1em 0;
    height: 100%;
    width: 100%;
  }
  
  .map-container {
    max-width: 100%;
    margin: 0.5rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  .map-container iframe {
    height: 50vh;
    width: 100%;
  }

  .map p {
    margin: 0 auto;
    text-align: center;
  }

  /* FORM CONTACT */
  .contact-container {
    margin: 0 auto;
  }

  .contact {
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
  }

  form {
    width: 100%;
    margin: 0 auto;
  }

  .inputContactSubmit {
    width: -webkit-fill-available;
    margin: 2rem 0;
    box-sizing: none;
  }
}

@media (max-width: 840px) {
  /* SECÇÕES */
  .benefits {
    padding: 0px;
  }

  .itens {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }

  #benefits-title {
    padding-bottom: 1rem;
    font-size: 2rem;
  }

  .itens li {
    width: auto;
    height: auto;
    max-width: 50%;

    margin: 5% 12%;
    padding: 5%;
  }

  p {
    font-size: 1rem;
    padding: 10px;
    margin: 0;
    padding-bottom: 20px;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
  }

  .itens img {
    width:25%;
    height:auto;

    padding: 1rem;
    margin: 0 auto;
  }

  .itens-description {
    font-size: 1.2rem;
  }

  .contact {
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
  }
}

@media (max-width: 480px) {
  html, body, main, .banner, .main, .main-container, .parallax, .parallax2, .map-container, .benefits, .itens, .itens li{
    width: auto;
  }

  .banner {
    /* width: 375px; */
    height:auto;
  }
  .banner h1 {
    font-size: 3rem;
  }

  .main {
    height: 100vh;
  }

  .main-container {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1rem;
  }

  .main-title {
    font-size: 1.5rem;
  }

  .imgAbout {
    width: 25%;
    margin: 10px;
  }

  .main-container p {
    font-size: 1.3rem;
  }

  .parallax, .parallax2 {
    height: 100vh;
  }

  /* SECÇÕES */
  .benefits {
    padding: 0px;
  }

  .itens {
    padding: 10px;
  }

  #benefits-title {
    padding-bottom: 1rem;
    font-size: 2rem;
  }

  .itens li {
    margin: 5% 12%;
    padding: 5%;
    max-width: 100%;
  }

  p {
    font-size: 1rem;
    padding: 10px;
    margin: 0;
    padding-bottom: 20px;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
  }

  .itens img {
    width:25%;
    height:auto;

    padding: 1rem;
    margin: 0 auto;
  }

  .itens-description {
    font-size: 1.2rem;
  }

  .contact {
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
  }

  /* MAPA */
  .map {
    padding: 1em 0;
    height: 100%;
    width: 100%;
  }
  
  .map-container {
    margin: 0.5rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  .map-container iframe {
    height: 50vh;
    width: 100%;
  }

  .map p {
    margin: 0 auto;
    text-align: center;
  }

  /* FORM CONTACT */
  .contact-container {
    max-width: 100%;
    margin: 0 auto;
  }

  .contact {
    width: 100%;
    margin: 0 auto;
  }

  form {
    width: 100%;
    margin: 0 auto;
  }

  .inputContactSubmit {
    width: 100%;
    margin: 2rem 0;
    box-sizing: none;
  }
}