@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page */
body{
  background: #d0faf4;
  font-family: 'Caveat', cursive;
  width: 100vw;
}

header {
  background: #0ED9BB;
  display: flex;
  
  position: fixed; /* Set the navbar to fixed position */
  top: 0px!important; /* Position the navbar at the top of the page */
  left:0;
  z-index: 2;
  width: 100%; 
}   

html, body {
  height: 100%;
}

main {
  max-width: 940px;
  height: 100%;

  margin: 0 auto;
  margin-top: 9rem;
}

.main-title {
  text-align: center;
  font-size: 2.25rem;
  font-weight:bold;
  font-family: 'Architects Daughter', cursive;

  margin: 10rem 0 0 1rem;
  padding-bottom: 3rem;
}

.video-list {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;

  width: 100%;
  margin: 0 auto;
}

.video-list > div {
  flex: 1 1 250px;
  margin: 10px;
}

.video-list iframe {
  max-width: 100%;
  display: block;
}

@media (max-width: 480px) {
  html, body, main, .video-list, iframe {
    width: auto;
    height: auto;
    margin: 0 auto;
  }

  main {
    padding-bottom: 2rem;
    /* position: relative;
    margin-top: 120px;

    display: block; */
  }
  /* 
  .main-title {
    margin: 170px auto auto auto;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .video-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
}